<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Welcome to Gregslist Marketplace.
      </h1>

      <p class="subtitle">
        Enjoy an ultimate shopping experience.
      </p>
    </div>
  </div>
</section>
