<% provide(:title, @valid_sellers.name) %>
<div class="row">
  <aside class="col-md-4">

    <%= form_tag do %>
      <%= collection_select(:seller, :id, @valid_sellers, :id, :name) %>
      <%= submit_tag("Select") %>
    <% end %>

    <%= link_to "Create new Seller account", new_seller_path, class: "btn btn-primary" %>
  </aside>
</div>
