<%# provide(:title, 'Contact') %>
<!--<h1>Contact</h1>-->
<!--<p>-->
<!--  Contact the team by visiting:-->
<!--  <a> href="http://www.school.edu" </a>-->
<!--  Member 1-->
<!--  <a> href="member1@gmail.com" </a>-->
<!--</p>-->

<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
  Contact the team by visiting:
  <a href="http://www.uiowa.edu">University of Iowa</a>
<!--  or email us at:-->
<!--  <a href="mailto:team@example.com">team@example.com</a>-->
</p>

<h2>Team Members</h2>

<div class="team-members">
  <div class="member">
    <h3>Ruoqiu Huang</h3>
    <p>
      Email: <a href="mailto:ruoqiu-huang@uiowa.edu">ruoqiu-huang@uiowa.edu</a>
    </p>
  </div>

  <div class="member">
    <h3>Eric Ababio Anyimadu</h3>
    <p>
      Email: <a href="mailto:eric-anyimadu@uiowa.edu">eric-anyimadu@uiowa.edu</a>
    </p>
  </div>

  <div class="member">
    <h3>Pei-Hsin Chiu</h3>
    <p>
      Email: <a href="mailto:pei-hsin-chiu@uiowa.edu">pei-hsin-chiu@uiowa.edu</a>
    </p>
  </div>

  <div class="member">
    <h3>Graham Scott</h3>
    <p>
      Email: <a href="mailto:graham-scott@uiowa.edu">graham-scott@uiowa.edu</a>
    </p>
  </div>


  <div class="member">
    <h3>Stewart Sankey</h3>
    <p>
      Email: <a href="mailto:stewart-sankey@uiowa.edu">stewart-sankey@uiowa.edu</a>
    </p>
  </div>

</div>