<!--<h1>NavigationPages#home</h1>-->
<!--<p>Find me in app/views/navigation_pages/home.html.erb</p>-->


<!--<h1>Gregs List MarketPlace</h1>-->
<!--<p>-->
<!--  This is the home page for the our app; under development-->

<!--</p>-->

<!DOCTYPE html>
<html>
<head>
  <title>Home | GregsList Homepage</title>
</head>
<body>
<h1>Greglist App</h1>
<p>
  This is the home page for the Gregslist App
</p>
</body>
</html>