//.header {
//  border-bottom: 1px solid $color-border-light;
//
//  &__primary-navigation {
//    border-top: 1px solid $color-border-light;
//  }
//
//  &__secondary-navigation {
//    margin: 0 auto;
//    max-width: 114rem;
//  }
//}

.header {
  height: 300px; /* Change the height of the header */
  padding: 10px 0; /* Adjust top and bottom padding */
  /* Or you can use specific padding values for top, right, bottom, left if needed */

  border-bottom: 1px solid $color-border-light;

  &__primary-navigation {
    border-top: 1px solid $color-border-light;
  }

  &__secondary-navigation {
    margin: 0 auto;
    max-width: 114rem;
  }
}