<% @items.each do |item| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Description: <%= item.description %></h6>
      <p class="card-text"> <%= item.category_names %> </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
<% end %>