<% if @items.present? %>
  <div class="row mb-5">
    <div class="col-10 offset-1">
      <h2>Results for "<%= @q %>"</h2>
      <%= render partial: "items/item_list", locals: { items: @items } %>
    </div>
  </div>
<% else %>
  <div class="row mb-5">
    <div class="col-10 offset-1">
      <h2>Sorry, no results for "<%= @q %>"</h2>
    </div>
  </div>
<% end %>

