<% provide(:title, @item.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="item_info">
      <h1>
        <%= @item.name %>
      </h1>
      <p> <%= @item.description %> </p>
    </section>
  </aside>
</div>
