<% provide(:title, @valid_buyers.first_name) %>
<div class="row">
  <aside class="col-md-4">

    <%= form_tag do %>
      <%= collection_select(:buyer, :id, @valid_buyers, :id, :first_name) %>
      <%= submit_tag("Select") %>
    <% end %>

    <%= link_to "Create new Buyer account", new_buyer_path, class: "btn btn-primary" %>
  </aside>
</div>
