@import "bootstrap-sprockets";
@import "bootstrap";


footer {
  margin-top: 85px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  margin-left: 25px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: right;
  margin-right: 15px;
}

.main-display{
  background-image: "mainlogo.png";
}

.small-logo{
  max-width: 250px;
}

.price-dark-green{
  color: #006400;
}

.classname{
  max-height: 400px;
  overflow-y: auto;
}

.card-img-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio (square) */
  overflow: hidden;
}
.card-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.message-container {
  max-width: 600px; /* Adjust this value to your desired width */
  margin: 0 auto; /* Center the container horizontally */
}