@import "bootstrap-sprockets";
@import "bootstrap";


footer {
  margin-top: 85px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  margin-left: 25px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: right;
  margin-right: 15px;
}

.main-display{
  background-image: "mainlogo.png";
}

.small-logo{
  max-width: 250px;
}