<footer class="footer">
  <small>
    Group 8 ecommerce project built with <a href="http://rubyonrails.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", navigation_pages_about_path %></li>
      <li><%= link_to "Contact", navigation_pages_contact_path %></li>
    </ul>
  </nav>
</footer>